.container {
  --primary-background-color: #f5f7f0;
  --secondary-background-color: #ffffff;
  --primary-accent-color: #FFE900;
  --secondary-accent-color: #FF8C00;
  --primary-rounding: 10px;
  --primary-box-shadow: 0 10px 20px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.05);

  background-color: var(--primary-background-color);
  width: 100%;
  min-height: 100vh;
}

.dark {
  --primary-background-color: #0a0a0a;
}

.inner {
  max-width: 1000px; 
  margin: auto;
}


